name: Pull request

permissions:
  contents: read

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  tests:
    name: Test
    uses: swiftlang/github-workflows/.github/workflows/swift_package_test.yml@main
    with:
      linux_swift_versions: "[\"nightly-main\"]"
      windows_swift_versions: "[\"nightly\"]"

  soundness:
    name: Soundness
    uses: swiftlang/github-workflows/.github/workflows/soundness.yml@main
    with:
      license_header_check_project_name: "Swift Platform Executors"
      format_check_container_image: "swiftlang/swift:nightly-6.2-noble"  # Needed since 6.0.x doesn't support sending keyword
